.career {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  height: 100vh;

  &__container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 76px;
    padding-top: 10px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    line-height: 2.4;
  }
}
