.login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #a7a7a7;
  font-size: 12px;
}

.login__link {
  color: #a7a7a7;
  text-decoration: underline;
}
