.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  background-color: white !important;
}
