@font-face {
  font-family: "Avo";
  src: local("Avo"), url(./assets/fonts/Avo.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
