@font-face {
  font-family: "Avo";
  src: local("Avo"), url(./assets/fonts/Avo.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* .fixed {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
} */
